
body{
    background: #373b38;
    
}
.sub-comment{
    float: right;
    clear: both;
    width: 90%;
    padding-top: 0px;
    position: relative;
}

.sub-comment ::after{
    
    content: "";
    width: 80%;
    height: 1px;
    background: rgb(201, 196, 196);
    position: absolute;
    bottom: 1px;
    left: 12%;
}

.sub-comment h4 , p {
    margin: 0px;
}

.comments-area hr{
    width: 95%;
    margin: auto;
    background: rgb(201, 196, 196);
}
.comments-area {
    
    padding-bottom: 10px;
}
.comments-area form{
 margin: auto;   
 padding-top: 10px;
 width: 95%;
 

}


.comments-area form input{
    height: 35px;
    width: 100%;
   }
